# OS / editors
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.sublime-*
*.code-workspace

# Build & deps
node_modules/
vendor/
build/
dist/
*.zip
*.tar.gz

# Logs & temp
*.log
*.bak
*.tmp
.cache/

# Local config
.env
.env.*
